{% load static %}
<div class="content" id="aboutMe">
    <img src="{% static 'images/about_me.jpg' %}" class="uk-border-circle about-me-img" alt="">
    <div class="about-me-title">ABOUT ME</div>
    <div class="about-me-intro">
        <div class="about-me-context">
            Backend Junior Developer
        </div>
    </div>
    <div class="about-me-detail">
        <div class="about-me-index">EDUCATION / CAREEAR</div>
        세종대 경영학 / 컴퓨터공학 전공
    </div>
    <div>
        <div class="about-me-index">SKILL</div>
        Django<br>
        Linux<br>
        Python / C / Java/ SQL<br>
        AWS<br>
        Docker<br>
    </div>
</div>
