{% load static %}
<header class="header">
    <div class="header-nav middle-child clearfix">
        <div class="hamburgerBar">
            <img src="{% static 'images/menu.png' %}" alt="">
        </div>
        <a href="http://pf.kakao.com/_YFgWC/">
            <div class="nav-friend middle-child clearfix">
                <img src="{% static 'images/friend.png' %}" alt="">
            </div>
        </a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="#" id="introTagA">Introduction</a>
            </li>
            <li>
                <a href="#" id="introVideoTagA">Introduction Video</a>
            </li>
            <li>
                <a href="#" id="aboutMeTagA">About me</a>
            </li>
        </ul>
    </nav>
</header>