container_commands:
  01_migrate:
    command: "touch /tmp/migrate"
    leader_only: true
  02_collectstatic:
    command: "touch /tmp/collectstatic"
#    leader_only: true
#s3를 사용하지 않도록 설정하였으므로 모든 ec2에 정적파일이 존재할 수 있돌고 leader_only옵션 해제
#    leader_only: true
  03_createsu:
    command: "touch /tmp/createsu"
    leader_only: true