@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Open+Sans");
@font-face {
  font-family: 'BM HANNA 11yrs old';
  src: url("../font/BMHANNA_11yrs_ttf.ttf");
}

body, html {
  width: 100%;
  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  color: #666;
  font-family: "Nanum Gothic", sans-serif;
  width: 960px;
  margin: 0 auto;
  background: #fae100;
  height: 55px;
  padding: 10px 0;
}

.header-nav {
  height: 100%;
}

.middle-child {
  vertical-align: middle;
  padding-top: 7px;
}

.clearfix::after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}

.nav-friend {
  padding-top: 0.1em;
  float: right;
  padding-right: 10px;
}

.hamburgerBar {
  margin-left: 10px;
  position: absolute;
  outline: none;
  left: 0;
  border: 0;
  z-index: 999;
}

.hamburgerBar:hober {
  cursor: pointer;
}

.hamburgerBar .nav_bar1, .hamburgerBar .nav_bar2, .hamburgerBar .nav_bar3 {
  width: 30px;
  height: 5px;
  border-radius: 100px;
  background-color: black;
  margin: 3px 0;
  transition-duration: 0.4s;
}

nav {
  background: white;
  opacity: 0.2;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  z-index: 999;
  transition-duration: .1s;
}

nav ul {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  transition-duration: .4s;
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  background: gray;
  cursor: pointer;
  color: black;
}

.open {
  visibility: visible;
  opacity: 1;
}

.close {
  visibility: hidden;
  opacity: 1;
}

.content {
  text-align: center;
  width: 960px;
  margin: 0 auto;
  background: #f2f4f7;
}

.slide-div {
  margin-top: 75px;
  padding-bottom: 25px;
  background: #fae100;
}

.swiper-div {
  text-align: center;
}

.content-div {
  padding-bottom: 25px;
}

.content-text-title {
  font-family: 'BM HANNA 11yrs old';
  font-size: 24px;
  color: black;
}

.content-text-context {
  font-size: 15px;
}

.swiper-page-div .swiper-pagination-bullet {
  margin: 0 10px;
}

@media (max-width: 960px) {
  .header {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
}

.content-about-me {
  font-family: "Open Sans", sans-serif;
  font-weight: blod;
}

.about-me-img {
  margin: 35px 0;
  width: 250px;
  height: 250px;
}

.about-me-title {
  font-family: 'BM HANNA 11yrs old';
  font-size: 24px;
  color: black;
}

.about-me-imgs {
  width: 150px;
  height: 150px;
  float: right;
}

.about-me-intro {
  margin: 10px 0;
}

.about-me-detail {
  margin: 10px 0;
}

.about-me-index {
  font-family: 'BM HANNA 11yrs old';
  font-size: 1.0em;
  margin: 0.3em 0;
  color: black;
}

.video-title {
  padding-top: 35px;
  margin-bottom: 5px;
}

.video-plus-friend {
  display: inline-block;
  padding: 10px 10px;
  font-size: 20px;
  margin-bottom: 30px;
  color: black;
  font-family: 'BM HANNA 11yrs old';
  background: #fae100;
}

.video-plus-friend a {
  text-decoration: none;
  color: black;
}

.video-plus-friend a:hover {
  text-decoration: none;
  color: white;
}
