@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon|Nanum+Gothic");
html, body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: "Nanum Gothic", sans-serif;
}

header.bagic {
  background: #ffe103;
  padding: 20px 20px;
  text-align: center;
  font-size: 1.2em;
}

header.bagic p, header.bagic h2 {
  margin: 0;
  padding: 0;
}

header.bagic h2 {
  font-weight: 700;
  margin-bottom: 10px;
}

.back-color {
  background-color: #f8f8f8;
}

.div-padding {
  padding-top: 40px;
}

.div-margin {
  margin: 20px 0;
}

.test-back {
  background: grey;
}
