<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/uikit-rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'js/uikit.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>Sejong Search Book</title>
</head>

<body>
{% include 'include/header.html' %}

{% include 'include/introduction.html' %}

{% include 'include/video.html' %}

{% include 'include/about_me.html' %}

<script src="{% static 'js/common.js' %}"></script>

</body>
</html>
